html {
  background-color: rgb(166, 208, 222);
}

body {
  background-color: rgb(255, 228, 196);
}

header {
  background-color: rgb(236, 125, 125);
}

main {
  background-color: rgb(144, 238, 144);
}

footer {
  background-color: rgb(191, 191, 113);
}
