* {
  padding: 0;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
}

html {
  background-color: rgb(166, 208, 222);
}

body {
  background-color: rgb(102, 102, 102);
  height: 4000px;
}

header {
  position: sticky;
  top: 0;
  padding: 2rem;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgb(240, 240, 240);
}

header #alias {
  font-size: 6rem;
  font-weight: 700;

  transition: all 1s ease;
}

header.scrolled #alias {
  transition: all 1s ease;

  font-size: 2rem;
}

header nav {
  padding: 1rem 3rem;

  font-size: 2rem;
  font-weight: 500;

  border-radius: 2px;

  background-color: rgb(6, 6, 6);
  color: rgb(240, 240, 240);
}

aside {
  display: none;
}

main {
  width: 50%;
  background-color: rgb(202, 213, 202);
}

footer {
  position: fixed;
  bottom: 0;

  background-color: rgb(156, 156, 156);
}

footer * {
  font-size: 0.8rem;
  font-weight: 500;
  font-style: normal;
}
